@font-face
{
    font-family: 'Arial';
    src: url('fonts/arial.ttf');
}

@font-face
{
    font-family: 'Courier';
    src: url('fonts/courier.ttf');
}

.howitworks-content
{
    display: flex;
    flex-direction: row;
}

.howitworks
{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    width: 40%;
}

.howitworks-content ul
{
    list-style-type: none;
    font-size: 26px;
    color: #f5989d;
    font-weight: bold;
    margin-right: 2em;
}


.howitworks-content img
{
    margin-right: 1em;
}

.howitworks-content li

{
    margin-bottom: 0.3em;
}

.fire
{
    margin-top: 6em;
}

.pagetop
{
    background: url("img/howitimage.jpg");  
}