* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: fixed;
}
.page {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 2px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-bottom: 51px;
}
.form-input {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 51px;
}
textarea {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  resize: none;
  outline: none;
  font-size: 14px;
  padding-right: 50px;
  -webkit-appearance: none;
}
.send {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 15px;
  text-decoration: none;
  color: rgba(128,128,128,0.6);
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}
.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.messages {
  width: 100%;
  padding: 20px 5px 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}
.message {
  width: 100%;
  height: auto;
  margin: 0.5rem 0.5rem 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  align-items: flex-start;
  min-height: 50px;
  height: auto;
}
.message--my {
  
  flex-direction: row-reverse;
}

.message--my .text{
  background: rgba(89, 102, 174, 0.3) !important;
}

.message .text {
  
  font-size: 12px;

  display: inline-block;
  width: 500px;
  height: auto;
  box-sizing: border-box;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.1);

}

.sendmsg {

  margin-right: 5px;
  margin-top: 30px;

}
